Package: com.golddavid.dontstoptheparty.lite
Name: Don't Stop The Party Lite
Depends: firmware (>= 9.0), mobilesubstrate (>= 0.9.5.000)
Conflicts: com.golddavid.dontstoptheparty
Version: 0.0.1~lite
Architecture: iphoneos-arm
Description: Apple music during resprings
Maintainer: David Goldman <help@golddavid.com>
Author: David Goldman, Wizages <wizagesmax@gmail.com>
Section: Tweaks
